<a class="header-hamburger visible-xs-block visible-sm-block" 
    {{action 'isNavigationOpenSlideUp' 'isNavigationOpen'}}>
  {{glyph-icon set='aeo' type='mdot-hamburger'}}
</a>

<div class="hidden-xs hidden-sm visible-md-block visible-lg-block">
  {{partial 'header/navigation-links'}}
</div>

{{#slide-in over=isNavigationOpen id="slide-in-xs-nav" dir="right" slideIn90=true disableBodyScroll=true}}
  <a {{action 'isNavigationOpenSlideDown' 'isNavigationOpen'}} {{bind-attr class="isNavigationOpen:show:hide :header-hamburger-open"}}>
    {{glyph-icon set='aeo' type='mdot-hamburger'}}
  </a>
  <div class="header-navigation-hamburger">
    {{partial 'header/navigation-links'}}
    {{partial 'header/header-auxiliary-nav'}}
  </div>
{{/slide-in}}
