<div class="application-wrapper">
  {{#if isCheckoutPage}}
    {{partial 'header/checkout-header'}}
    {{partial 'checkout/login-bar'}}
    {{outlet}}
    {{partial 'footer/checkout-footer'}}
  {{else}}
    {{partial 'header/header'}}
    {{view 'promo/homepage-pushdown'}}
    {{outlet}}
    {{partial 'footer/footer'}}
  {{/if}}
</div>
{{view 'utilities/window-controls'}}
