{{view 'promo/homepage-pushdown'}}

{{view 'homepage/homepage-feature'}}

<div {{bind-attr class="isFluidLayout:container-fluid:container"}}>
  {{view 'homepage/homepage-slideshow'}}
</div>

<div {{bind-attr class="isFluidLayout:container-fluid:container"}}>
  {{view 'homepage/homepage-websclusive'}}
</div>

<div {{bind-attr class="isFluidLayout:container-fluid:container"}}>
  {{view 'homepage/homepage-grid'}}
</div>
